<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
      <form action="./<%= teams.id %>/edit" method="get">
        <button type="submit">Edit</button>
      </form>
      <form action="./<%= teams.id %>/delete" method="get">
        <button type="submit">Delete</button>
      </form>
    <%- include('pokemon/pokemonCard.ejs') %>
  </body>
</html>
